@import './variable.scss';

body {
    font-family: 'Fonts-Regular';
    background-image: url(../images/body-bg.jpg);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Fonts-Bold";
    }
}

.header-container {
    background-color: $themeWhite;

    .top-header {
        .list-group.list-group-horizontal {
            .list-group-item {
                border: none;
            }
        }
    }

    .main-navbar {
        .complogo {
            height: 80px;
        }

        .navbar-dropdown-custom {
            .navbar-dropdownsub-custom {
                .nav-link {
                    text-align: center;
                    padding: 4px 16px;
                }
            }

            .dropdown-menu {
                width: 600px;

                .dropdown-item.navitem-title,
                .dropdown-item.navitem-title:hover {
                    // text-align: center;
                    color: #000;
                    font-size: 20px;
                    font-weight: 600;
                    border-bottom: solid 2px #ead40968;
                    margin: 0px 15px;
                    width: calc(100% - 30px);
                }

                .dropdown-item:hover {
                    color: #ead409;
                    background: transparent;
                    // text-align: center;
                }
            }
        }
    }
}

.content-container {
    padding: 0px;

    .card-overlay {
        background-color: #2722224a;
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 100;
        border: 0px;
        width: 100%;
    }

    .card-content {
        position: absolute;
        background: #ffffff75;
        width: 78%;
        top: 50%;
        left: 50%;
        height: 110px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: #000;
        z-index: 1000;
        padding: 10px;

        svg {
            border-radius: 50%;
            background: #ead409;
            padding: 8px 10px;
            color: #ffffff;
            height: 35px;
            padding: 10px;
            width: 35px;
        }
    }

    // .card-overlay:hover{
    //     background-color: transparent;
    //     position: absolute;
    //     z-index: 100;
    //     top: 0;
    //     right: 0;
    //     height: 100%;
    //     z-index: 100;
    //     border: 0px;
    //     width: 100%;
    // }
}

.content-section {
    padding: 50px 0px;

    .content-header {
        font-family: "Fonts-Bold";
    }

    p {
        text-align: justify;
    }
    .portfolio-grid{
        display: flex;
    width: 100%;
    flex-wrap: wrap;
    img{
        width: 25%;
    }
    }
}

.testi-section {
    padding: 50px 120px;
    background-image: url(../images/slider/testmonial-bg.png);

    img {
        border-radius: 50%;
        height: 300px;
        width: auto !important;
        margin: auto;
    }

    .justify-content {
        font-size: 24px;

        .quote {
            font-size: 35px;
            padding: 0px 20px;
        }
    }
}

.about-section {
    margin: 50px 0px;
    padding: 50px;
    background: #ffffff;
    border-radius: 20px;
    // margin-top: -100px;
    position: relative;

    p {
        text-align: justify;
    }
}

.page-container {
    background: #ffffff;
}

.page-breadcrumb {
    padding: 10px 0px;

    .breadcrumb {
        margin: 0px;
    }
}

.service-card {
    cursor: pointer;
    box-shadow: 2px 3px 5px 0 #d0d2d5;
    border-radius: 24px;
    transition: transform 1s;
    transform: scale(0.9);
    img {
        padding: 20px;
        border-radius: 50px;
    }
}

.service-card:hover {
    background-color: #fff;
    outline: 1px solid #fff;
    border-radius: 24px;
    box-shadow: 0 0 2px 2px #d0d2d5;
    transform: scale(1.0);
}

.portfolio-card {
    overflow: hidden;
    border-radius: 0px;

    img {
        border-radius: 0px;
    }

    .card-body {
        position: absolute;
        width: 0;
        left: 0;
        opacity: 0;
        transition: .5s ease;
    }
}

.portfolio-card:hover {
    .card-body {

        opacity: 1;
        background: #1200005c;
        width: 100%;
        height: 100%;
        transition: .5s ease;

        .body-cont {
            color: #fff;
            padding: 20px;
            border: solid 1px yellow;
            border-style: dashed;
        }
    }
}

.mainfooter {
    background-image: url(../images/footer-bg.jpg);

    .f-overlay {
        background: #000000a1;
        padding: 50px 0px;
    }

    .footer-continer {
        h5{
            color:#ead409;
        }
        .hr-light {
            border-color: $themeWhite;
            opacity: 1;
        }

        color: $themeWhite;

        .footer-para {
            text-align: justify;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }

        .footer-links {
            .list-group-item {
                background: transparent;
                color: #ffffff;
                a{
                color: #ffffffa0;
                text-decoration: none;
                }
                a:hover{
                    color: #ffffff;
                    }
            }
        }
        .footer-links.product-link{
            flex-direction: row;
            padding-left: 0;
            flex-wrap: wrap;
        }

        .footer-address {
            .contact-icon {
                font-size: 20px;
                padding: 0px 10px;
            }
        }

        .footer-mobile {
            .contact-icon {
                font-size: 20px;
                padding: 0px 10px;
            }
        }
    }

    .footer-logo {
        .complogo {
            height: 80px;
            background: #fff;
        }
    }

    .sub-footer {
        background: $themeBlack;
        color: $themeWhite;
        text-align: center;

        p {
            margin: 0px;
            padding: 10px 0px;
        }
    }
}